<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	board_id < 투어 : 1 / 후기 : 2 / 동행 : 3 / 게시판 : 4 / 이벤트 : 5 >
	board_theme < 힐링 : 1 / 스탭 : 2 / 액티비티 : 3 / 먹거리 : 4 / 영화 : 5 / 스포츠 : 6 >
	board_wish < 안찜 : 0 / 찜 : 1 >
	staff_team < 경영 : 1 / 인사 : 2 / CS : 3 / 디자인 : 4 / 마케팅 : 5 >
	paid_state < 미결제 : 0 / 결제 : 1 >
	paid_confirm < 미확정 : 0 / 확정 : 1 >
 -->
 
 
<mapper namespace="board">

<!-- 후기 기본 정렬 (작성 순서) -->
	<select id="selectAll_review" resultType="BoardBean">
		select * from board ORDER BY board_no DESC LIMIT #{startList}, #{listSize}
	</select>
<!-- 후기 도시별 정렬 -->
	<select id="selectAll_reviewCity" resultType="BoardBean">
		select * from board ORDER BY board_land, board_no DESC
	</select>
<!-- 후기 테마별 정렬 -->
	<select id="selectAll_reviewTheme" resultType="BoardBean">
		select * from board ORDER BY board_theme, board_no DESC
	</select>
	

	
	<select id="selectOne_review" resultType="BoardBean" parameterType="int">
		select * from board where board_no=#{value}
	</select>
	
	
	<insert id="insertOne_review" parameterType="BoardBean">
		insert into board (board_id, board_sub, board_count, board_content, client_nick1, board_date, board_land, board_theme, board_img, board_thumb) values (2,#{board_sub}, 0, #{board_content}, #{client_nick1}, now(), #{board_land}, #{board_theme}, #{board_img, jdbcType=VARCHAR}, #{board_thumb, jdbcType=VARCHAR})
	</insert>
	
	
	
	<update id="updateOne_review" parameterType="BoardBean">
		update board set board_sub=#{board_sub}, board_content=#{board_content}, board_land=#{board_land}, board_theme=#{board_theme}, board_img=#{board_img}, board_thumb=#{board_thumb} where board_no=#{board_no}
	</update>
	


	<delete id="deleteOne_review" parameterType="int">
		delete from board where board_no=#{value}
	</delete>
	
	
	
<!-- 조회수 -->
	<update id="updateCnt" parameterType="int">
		update board set board_count=board_count+1 where board_no=#{value}
	</update>
	
<!-- update 페이지 나라 조회 -->
	<select id="select_land" resultType="BoardBean">
		select board_land from board where board_no=#{value}
	</select>
	
<!-- 총게시글 갯수 -->
	<select id="getBoardListCnt" resultType="int">
		select count(*) from board
	</select>
	
<!-- 검색 -->	
	<select id="search_sub" resultType="BoardBean">
		select * from board where board_sub='%테스트%'
	</select>
</mapper>























