<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	board_id < 투어 : 1 / 후기 : 2 / 동행 : 3 / 게시판 : 4 / 이벤트 : 5 >
	board_theme < 힐링 : 1 / 스탭 : 2 / 액티비티 : 3 / 먹거리 : 4 / 영화 : 5 / 스포츠 : 6 >
	board_wish < 안찜 : 0 / 찜 : 1 >
	staff_team < 경영 : 1 / 인사 : 2 / CS : 3 / 디자인 : 4 / 마케팅 : 5 >
	paid_state < 미결제 : 0 / 결제 : 1 >
	paid_confirm < 미확정 : 0 / 확정 : 1 >
 -->
 
 
<mapper namespace="board">
<!-- 투어 기본 정렬 (작성 순서) -->
	<select id="selectAll_tour" resultType="BoardBean">
		select * from board where board_id=1 and order by board_no DESC
	</select>
<!-- 투어 도시별 정렬 -->
	<select id="selectAll_tourCity" resultType="BoardBean">
		select * from board where board_id=1 order by board_land, board_no DESC
	</select>
<!-- 투어 테마별 정렬 -->
	<select id="selectAll_tourTheme" resultType="BoardBean">
		select * from board where board_id=1 order by board_theme, board_no DESC
	</select>

<!-- 후기 기본 정렬 (작성 순서) -->
	<select id="selectAll_review" resultType="BoardBean">
		<![CDATA[select * from board where board_id=2 ORDER BY board_no DESC limit 1, 10]]>
	</select>
<!-- 후기 도시별 정렬 -->
	<select id="selectAll_reviewCity" resultType="BoardBean">
		select * from board where board_id=2 ORDER BY board_land, board_no DESC
	</select>
<!-- 후기 테마별 정렬 -->
	<select id="selectAll_reviewTheme" resultType="BoardBean">
		select * from board where board_id=2 ORDER BY board_theme, board_no DESC
	</select>
<!-- 후기 update 페이지 나라 조회 -->
	<select id="select_reviewUpdate" resultType="BoardBean">
		select board_land from board where board_no=#{board_no}
	</select>
<!-- 동행구하기 -->
	<select id="selectAll_partner" resultType="BoardBean">
		select * from board where board_id=3 order by board_no DESC
	</select>
<!-- 자유게시판 -->
	<select id="selectAll_free" resultType="BoardBean">
		select * from board where board_id=4 order by board_no DESC
	</select>
	<!-- 이벤트 -->
	<select id="selectAll_event" resultType="BoardBean">
		select * from board where board_id=5 order by board_no DESC
	</select>

<!-- update 페이지 나라 조회 -->
	<select id="select_land" resultType="BoardBean">
		select board_land from board where board_no=#{value}
	</select>
<!-- 페이징 -->
	<select id="countBoardList" resultType="Integer">
    	<![CDATA[ select count(*) from board where board_id=2]]>
	</select>


	<select id="selectOne_tour" resultType="BoardBean" parameterType="int">
		select * from board where board_id=1 and board_no=#{value}
	</select>
	
	<select id="selectOne_review" resultType="BoardBean" parameterType="int">
		select * from board where board_id=2 and board_no=#{value}
	</select>
	
	<select id="selectOne_partner" resultType="BoardBean" parameterType="int">
		select * from board where board_id=3 and board_no=#{value}
	</select>
	
	<select id="selectOne_free" resultType="BoardBean" parameterType="int">
		select * from board where board_id=4 and board_no=#{value}
	</select>
	
	<select id="selectOne_event" resultType="BoardBean" parameterType="int">
		select * from board where board_id=5 and board_no=#{value}
	</select>
	
	
<!-- 테마가 3개 미만일 때, board_theme 에 null 출력 -->
	<insert id="insertOne_tour" parameterType="BoardBean">
		insert into board, board_sub, board_content, board_land, board_city, board_theme, board_wish, board_cost) values (1, #{board_sub}, #{board_content}, #{board_land}, #{board_city}, #{board_theme}, #{board_wish}, #{board_cost})
	</insert>
	
	<insert id="insertOne_review" parameterType="BoardBean">
		insert into board (board_id, board_sub, board_count, board_content, client_nick1, board_date, board_land, board_theme) values (2,#{board_sub}, 0, #{board_content}, #{client_nick1}, now(), #{board_land}, #{board_theme})
	</insert>
	
	<insert id="insertOne_partner" parameterType="BoardBean">
		insert into board (board_id, board_sub, board_count, board_content, client_nick1, board_date) values (3,#{board_sub}, 0, #{board_content}, #{client_nick1}, now())
	</insert>
	
	<insert id="insertOne_free" parameterType="BoardBean">
		insert into board (board_id, board_sub, board_count, board_content, client_nick1, board_date) values (4,#{board_sub}, 0, #{board_content}, #{client_nick1}, now())
	</insert>
	
	<insert id="insertOne_event" parameterType="BoardBean">
		insert into board (board_id, board_sub, board_count, board_content, client_nick1, board_date) values (5,#{board_sub}, 0, #{board_content}, #{client_nick1}, now())
	</insert>
	
	
<!-- 테마가 3개 미만일 때, board_theme 에 null 출력 -->
	<update id="updateOne_tour" parameterType="BoardBean">
		update board set board_sub=#{board_sub}, board_content=#{board_content}, board_land=#{board_land}, board_city=#{board_city}, board_theme=#{board_theme}, board_theme2=#{board_theme2}, board_theme3=#{board_theme3}, board_cost=#{board_cost} where board_id=1 and board_no=#{value}
	</update>
	
	<update id="updateOne_review" parameterType="BoardBean">
		update board set board_sub=#{board_sub}, board_content=#{board_content}, board_land=#{board_land}, board_theme=#{board_theme} where board_id=2 and board_no=#{board_no}
	</update>
	
	<update id="updateOne_partner" parameterType="BoardBean">
		update board set board_sub=#{board_sub}, board_content=#{board_content} where board_id=3 and board_no=#{board_no}
	</update>
	
	<update id="updateOne_free" parameterType="BoardBean">
		update board set board_sub=#{board_sub}, board_content=#{board_content} where board_id=4 and board_no=#{board_no}
	</update>
	
	<update id="updateOne_event" parameterType="BoardBean">
		update board set board_sub=#{board_sub}, board_content=#{board_content} where board_id=5 and board_no=#{board_no}
	</update>
	
<!-- 조회수 -->
	<update id="updateCnt" parameterType="int">
		update board set board_count=board_count+1 where board_no=#{value}
	</update>



	<delete id="deleteOne_tour" parameterType="int">
		delete from board where board_id=1 and board_no=#{value}
	</delete>
	
	<delete id="deleteOne_review" parameterType="int">
		delete from board where board_id=2 and board_no=#{value}
	</delete>
	
	<delete id="deleteOne_partner" parameterType="int">
		delete from board where board_id=3 and board_no=#{value}
	</delete>
	
	<delete id="deleteOne_free" parameterType="int">
		delete from board where board_id=4 and board_no=#{value}
	</delete>
	
	<delete id="deleteOne_event" parameterType="int">
		delete from board where board_id=5 and board_no=#{value}
	</delete>
	
</mapper>
