<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="eastasia">
	<select id="selectAll_eastasia" resultType="EastAsiaBean">
		select * from eastasia order by country
	</select>
	
	<!-- eastasia join guide -->
	<resultMap type="EastAsiaBean" id="EastAsiaMap">
		<result property="country" column="country"/>
		<result property="city" column="city"/>
		<result property="cost" column="cost"/>
		<result property="comments" column="comments"/>
		<result property="course" column="course"/>
		<result property="firstimg" column="firstimg"/>
		<result property="secondimg" column="secondimg"/>
		<result property="thirdimg" column="thirdimg"/>
		
		<association property="GuideVo" resultMap="GuideVo"/>
	</resultMap>
	
	<resultMap type="GuideBean" id="GuideVo">
		<result property="guide_name" column="guide_name"/>
		<result property="guide_city" column="guide_city"/>
	</resultMap>
	
	<select id="selectOne_eastasia" parameterType="EastAsiaBean" resultMap="EastAsiaMap" >
		select eastasia.country,eastasia.city,eastasia.cost,eastasia.comments,eastasia.course,eastasia.firstimg,eastasia.secondimg,eastasia.thirdimg,guide.guide_name from eastasia inner join guide on eastasia.city=guide.guide_city where tour_no=#{value}
	</select>

</mapper>

