<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	board_id < 투어 : 1 / 후기 : 2 / 동행 : 3 / 게시판 : 4 / 이벤트 : 5 >
	board_theme < 힐링 : 1 / 스탭 : 2 / 액티비티 : 3 / 먹거리 : 4 / 영화 : 5 / 스포츠 : 6 >
	board_wish < 안찜 : 0 / 찜 : 1 >
	staff_team < 경영 : 1 / 인사 : 2 / CS : 3 / 디자인 : 4 / 마케팅 : 5 >
	paid_state < 미결제 : 0 / 결제 : 1 >
	paid_confirm < 미확정 : 0 / 확정 : 1 >
 -->

 
<mapper namespace="event">

	<select id="selectAll_event" resultType="EventBean">
		select * from event
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='event_sub' and keyword != null and keyword != '' ">
				AND event_sub like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='client_nick1' and keyword != null and keyword != '' ">
				AND client_nick1 like CONCAT('%', #{keyword}, '%')
			</if>
		</trim>
		ORDER BY board_no DESC
		LIMIT #{startList}, #{listSize}
	</select>
	

	
	<select id="selectOne_event" resultType="EventBean" parameterType="int">
		select * from event where board_no=#{value}
	</select>
	
	
	<insert id="insertOne_event" parameterType="EventBean">
		insert into event (board_id, event_sub, event_count, event_content, event_date, event_img, event_thumb) values (5, #{event_sub}, 0, #{event_content}, now(), #{event_img, jdbcType=VARCHAR}, #{event_thumb, jdbcType=VARCHAR})
	</insert>
	
	
	
	<update id="updateOne_event" parameterType="EventBean">
		update event set event_sub=#{event_sub}, event_content=#{event_content}, event_img=#{event_img}, event_thumb=#{event_thumb} where board_no=#{board_no}
	</update>
	


	<delete id="deleteOne_event" parameterType="int">
		delete from event where board_no=#{value}
	</delete>
	
	
	
<!-- 조회수 -->
	<update id="updateCnt" parameterType="int">
		update event set event_count=event_count+1 where board_no=#{value}
	</update>
	
<!-- 총게시글 갯수 -->
	<select id="getEventListCnt" resultType="int">
		select count(*) from event
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='event_sub' and keyword != null and keyword != '' ">
				AND event_sub like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='client_nick1' and keyword != null and keyword != '' ">
				AND client_nick1 like CONCAT('%', #{keyword}, '%')
			</if>
		</trim>
	</select>
	
</mapper>
