<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	board_id < 투어 : 1 / 후기 : 2 / 동행 : 3 / 게시판 : 4 / 이벤트 : 5 >
	board_theme < 힐링 : 1 / 스탭 : 2 / 액티비티 : 3 / 먹거리 : 4 / 영화 : 5 / 스포츠 : 6 >
	board_wish < 안찜 : 0 / 찜 : 1 >
	staff_team < 경영 : 1 / 인사 : 2 / CS : 3 / 디자인 : 4 / 마케팅 : 5 >
	paid_state < 미결제 : 0 / 결제 : 1 >
	paid_confirm < 미확정 : 0 / 확정 : 1 >
 -->
 
 
<mapper namespace="guide">

	<select id="selectAll_guide" resultType="GuideBean">
		select *  from guide
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='guide_name' and keyword != null and keyword != '' ">
				AND guide_name like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='guide_city' and keyword != null and keyword != '' ">
				AND guide_city like CONCAT('%', #{keyword}, '%')
			</if>	
		</trim>
		ORDER BY guide_no DESC
		LIMIT #{startList}, #{listSize}
	</select>
<!-- 가이드 번호별 정렬 -->
	<select id="selectAll_guideNo" resultType="GuideBean">
		select * from guide
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='guide_name' and keyword != null and keyword != '' ">
				AND guide_name like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='guide_city' and keyword != null and keyword != '' ">
				AND guide_city like CONCAT('%', #{keyword}, '%')
			</if>	
		</trim>
		 ORDER BY guide_no
		 LIMIT #{startList}, #{listSize}
	</select>
<!-- 가이드 이름별 정렬 -->
	<select id="selectAll_guideName" resultType="GuideBean">
		select * from guide
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='guide_name' and keyword != null and keyword != '' ">
				AND guide_name like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='guide_city' and keyword != null and keyword != '' ">
				AND guide_city like CONCAT('%', #{keyword}, '%')
			</if>	
		</trim>
		 ORDER BY guide_name
		 LIMIT #{startList}, #{listSize}
	</select>
<!-- 가이드 지역별 정렬 -->	
	<select id="selectAll_guideCity" resultType="GuideBean">
		select * from guide
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='guide_name' and keyword != null and keyword != '' ">
				AND guide_name like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='guide_city' and keyword != null and keyword != '' ">
				AND guide_city like CONCAT('%', #{keyword}, '%')
			</if>	
		</trim>
		 ORDER BY guide_city
		 LIMIT #{startList}, #{listSize}
	</select>
	
<!-- 총게시글 갯수 -->
	<select id="getGuideListCnt" resultType="int">
		select count(*) from guide
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='guide_name' and keyword != null and keyword != '' ">
				AND guide_name like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='guide_city' and keyword != null and keyword != '' ">
				AND guide_city like CONCAT('%', #{keyword}, '%')
			</if>
		</trim>
	</select>	
	
	<select id="selectOne_guide" resultType="GuideBean" parameterType="int">
		select * from guide where guide_no=#{guide_no}
	</select>
	
	<insert id="insertOne_guide" parameterType="GuideBean">
		insert into guide (guide_name, guide_phone, guide_city, guide_email, guide_img, guide_thumb) values (#{guide_name}, #{guide_phone}, #{guide_city}, #{guide_email}, #{guide_img}, #{guide_thumb})
	</insert>
	
	<update id="updateOne_guide" parameterType="GuideBean">
		update guide set guide_name=#{guide_name}, guide_phone=#{guide_phone}, guide_city=#{guide_city}, guide_email=#{guide_email}, guide_img=#{guide_img}, guide_thumb=#{guide_thumb} where guide_no=#{guide_no}
	</update>
	
	<delete id="deleteOne_guide" parameterType="GuideBean">
		delete from guide where guide_no=#{guide_no}
	</delete>
</mapper>
