<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
<mapper namespace="paid">
	<select id="selectAll_paid" resultType="PaidBean">
		select * from paid order by paid_no desc
	</select>
	
	<!--  paid join tour -->
	<resultMap type="PaidBean" id="PaidMap">
		<result property="paid_no" column="paid_no"/>
		<result property="tour_no" column="tour_no"/>
		<result property="client_name" column="client_name"/>
		<result property="paid_name" column="paid_name"/>
		<result property="paid_phone" column="paid_phone"/>
		<result property="paid_birth" column="paid_birth"/>
		<result property="paid_count" column="paid_count"/>
		<result property="paid_kakaoid" column="paid_kakaoid"/>
		<result property="tour_date" column="tour_date"/>
		<result property="book_date" column="book_date"/>
		<result property="paid_total" column="paid_total"/>
		<result property="paid_date" column="paid_date"/>
		<result property="paid_state" column="paid_state"/>
		<result property="paid_confirm" column="paid_confirm"/>
		
		
		<association property="TourVo" resultMap="TourVo"/>
	</resultMap>
	
	<resultMap type="TourBean" id="TourVo">
		<result property="tour_no" column="tour_no"/>
		<result property="city" column="city"/>
		<result property="name" column="name"/>
	</resultMap>
	
	<select id="selectOne_paid" parameterType="PaidBean" resultMap="PaidMap" >
		select paid.paid_no,paid.tour_no,paid.client_name,paid.paid_name,paid.paid_phone,paid.paid_birth,paid.paid_count,paid.paid_kakaoid,paid.tour_date,paid.book_date,paid.paid_total,paid.paid_date,paid.paid_state,paid.paid_confirm,tour.city,tour.name from paid inner join tour on paid.tour_no=tour.tour_no where paid_no=#{value}
	</select>
</mapper>