<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	board_id < 투어 : 1 / 후기 : 2 / 동행 : 3 / 게시판 : 4 / 이벤트 : 5 >
	board_theme < 힐링 : 1 / 스탭 : 2 / 액티비티 : 3 / 먹거리 : 4 / 영화 : 5 / 스포츠 : 6 >
	board_wish < 안찜 : 0 / 찜 : 1 >
	staff_team < 경영 : 1 / 인사 : 2 / CS : 3 / 디자인 : 4 / 마케팅 : 5 >
	paid_state < 미결제 : 0 / 결제 : 1 >
	paid_confirm < 미확정 : 0 / 확정 : 1 >
 -->
 
 
<mapper namespace="reply">
<!-- 후기 -->
	<select id="selectAll_Board_reply" resultType="ReplyBean">
		select * from reply where board_no=#{value} and board_id=2 order by reply_no asc
	</select>
	
	<insert id="insertOne_Board_reply" parameterType="ReplyBean">
		insert into reply (board_no, board_id, client_nick1, reply_content, reply_date) values (#{board_no}, 2, #{client_nick1}, #{reply_content}, now())
	</insert>
	
<!-- 동행 -->
	<select id="selectAll_Partner_reply" resultType="ReplyBean">
		select * from reply where board_no=#{value} and board_id=3 order by reply_no asc
	</select>
	
	<insert id="insertOne_Partner_reply" parameterType="ReplyBean">
		insert into reply (board_no, board_id, client_nick1, reply_content, reply_date) values (#{board_no}, 3, #{client_nick1}, #{reply_content}, now())
	</insert>
	
<!-- 자유게시판 -->
	<select id="selectAll_Free_reply" resultType="ReplyBean">
		select * from reply where board_no=#{value} and board_id=4 order by reply_no asc
	</select>
	
	<insert id="insertOne_Free_reply" parameterType="ReplyBean">
		insert into reply (board_no, board_id, client_nick1, reply_content, reply_date) values (#{board_no}, 4, #{client_nick1}, #{reply_content}, now())
	</insert>
	
<!-- 이벤트 -->
	<select id="selectAll_Event_reply" resultType="ReplyBean">
		select * from reply where board_no=#{value} and board_id=5 order by reply_no asc
	</select>
	
	<insert id="insertOne_Event_reply" parameterType="ReplyBean">
		insert into reply (board_no, board_id, client_nick1, reply_content, reply_date) values (#{board_no}, 5, #{client_nick1}, #{reply_content}, now())
	</insert>
	
	
	<update id="updateOne_reply" parameterType="ReplyBean">
		update reply set reply_content=#{reply_content} where reply_no=#{reply_no}
	</update>
	
	<delete id="deleteOne_reply" parameterType="int">
		delete from reply where reply_no=#{value}
	</delete>
</mapper>
