<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="wish">

	<select id="select_list" resultType="WishBean">
		select * from wish where client_nick1=#{client_nick1}
	</select>
	
	<insert id="insert_wish" parameterType="WishBean">
		insert into wish (tour_no, client_name, wishchk) values (#{tour_no}, #{client_name}, 1)
	</insert>
	
	<delete id="delete_wish" parameterType="int">
		delete from wish where wish_no=#{wish_no}
	</delete>
	
</mapper>
