	h1 {
		font-family: 'Jua';
	}
	form {
      width:700px;      
      margin:0 auto;
      font-family: 'Jua';
      font-size:18px;
	}
	textarea {
		resize:none;
	}
	label {
      font-size:15px;
      font-weight:normal;
	}
/* 나라 선택 */	
	#land {
		border-radius:5px;
		font-size:14px;
		text-align:center;
		width:85px;
		height:33px;
		padding:0px 0px 0px 5px;
	}
	#land:hover {
		background-color:#e8e8e8;
	}
	#land>option {
		font-size:13px;
		text-align:center;
		font-weight:normal;
	}

	.board_img img {
		margin:20px 0;
	}