	h1 {
		font-family: 'Jua';
	}
	form {
		width:700px;      
		margin:0 auto;
		font-family: 'Jua';
	}
	#hambI {
		border:1px solid #474747;
		padding:0;
		border-radius:10px;
	}
	form {
		width:750px;
		margin:0 auto;
		align:center;
		text-align:center;
		padding:0px;
	}
	#board_theme1, #board_theme2, #board_theme3, #board_land, #board_sub, #client_nick1, #board_date, #board_count, #board_content, #replyBoard {
		background-color:white;
	}
	label {
		width:35px;
	}
	#board_sub {
		width:700px;
		align:left;
		text-align:left;
	}
	#client_nick1, #board_count, #board_date {
		width:161px;
	}
	#board_content {
		width:700px;
		height:300px;
	}
	#btn {
		text-align:center;
	}
	#replyShow {
		width:700px;
		margin:0 auto;
	}
	/* ´ñ±Û */
	#table {
		width:700px;
		margin:0 auto;
		border-color:gray;
		padding:10px;
		border:0;
		outline:0;
		background-color:#e8e8e8;
	}
	#replyBoard {
		width:700px;
		height:100px;
	}
	#reply {
		width:600px;
		height:30px;
		font-family:'Jua';
		border:0;
		outline:0;
	}
	#reply_content {
		width:600px;
	}
	#edit, #update, #cancel, #dele2, #insert {
		text-align:center;
		width:30px;
		height:25px;
		text-align:center;
		border:0;
		outline:0;
		background-color:#e8e8e8;
	}
	tbody th:nth-child(1) {
		width:110px;
	}
	tbody th:nth-child(2) {
		font-size:13px;
		font-weight:normal;
		color:gray;
	}
	tbody td:nth-child(1) {
		font-size:13px;
		width:640px;
		height:25px;
	}
	tbody td:nth-child(2) {
		width:67px;
	}
/* content */
	#contentM {
		margin:20px 20px;
		border:2px solid #e8e8e8;
		border-radius:10px;
	}
	#contentC {
		width:670px;
		margin:20px 5px;
		background-color:white;
		border:0;
		outline:0;
		text-align:left;
	}
	#board_thumb {
		margin:20px 5px;
	}
   