	#allContain {
		width:1100px;
		margin:0 auto;
		padding-left:150px;
		font-family: 'Jua';
	}
	form {
		width:1100px;      
		margin:0 auto;
		font-size:18px;
		align:center;
		text-align:center;
		padding:0px;
	}
	label {
		font-weight:normal;
		padding:0;
		font-size:16px;
		width:60px;
	}
	#board_sub {
		width:800px;
		align:left;
		text-align:left;
		background-color:white;
	}
	#client_nick1, #board_count, #board_date {
		width:171px;
		background-color:white;
	}
	#btn {
		text-align:center;
		padding: 0 0 30 0;
	}
	/* ´ñ±Û */
	#table {
		width:900px;
		margin:0 auto;
		border-color:gray;
		padding:10 15;
		border:0;
		outline:0;
		background-color:#e8e8e8;
	}
	#replyBoard {
		width:800px;
		height:100px;
	}
	#reply {
		width:800px;
		height:30px;
		border:0;
		outline:0;
	}
	#reply_content {
		width:800px;
	}
	#edit, #update, #cancel, #dele2, #insert {
		text-align:center;
		width:30px;
		height:25px;
		text-align:center;
		border:0;
		outline:0;
		background-color:#e8e8e8;
	}
	tbody th:nth-child(1) {
		width:110px;
	}
	tbody th:nth-child(2) {
		font-size:13px;
		font-weight:normal;
		color:gray;
	}
	tbody td:nth-child(1) {
		font-size:13px;
		width:640px;
		height:25px;
	}
	tbody td:nth-child(2) {
		width:67px;
	}
/* content */
	#contentM {
		margin:20 0 20 130;
		border:2px solid #e8e8e8;
		border-radius:10px;
		width:850px;
		padding:28;
	}
	#contentS {
		text-align:left;
		font-size:15px;
	}
	#board_thumb {
		margin:20px 5px;
	}
   