	#allContain {
		width:950px;
		margin:0 auto;
		padding-left:200px;
		font-family: 'Jua';
	}
	form {
      width:750px;      
      margin:0 auto;
      font-family: 'Jua';
      font-size:15px;
	}
	#board_content {
		width:750px;
		height:300px;
		resize:none;
	}
	#board_sub, #client_nick1, #board_date, #board_count, #board_content {
		background-color:white;
	}
	label {
		width:40px;
	}
	#board_sub {
		width:750px;
		align:left;
		text-align:left;
	}
	#client_nick1, #board_date, #board_count {
		width:161px;
	}
/* 테마 선택 */
	label {
		width:40px;
	}	
	#btn {
		width:750px;
		text-align:center;
	}
/* 이미지 수정 */
	