	#allContain {
		width:1100px;
		margin:0 auto;
		padding-left:130px;
		font-family: 'Jua';
	}
	#containerTable {
		width:1100px;
		margin:0 auto;
		padding:10 0;
		font-size:16px;
	}
/* 나라정렬 버튼 */
	#theme {
		width:1100px;
		margin:0 auto;
		padding:8 0;
	}
/* 정렬버튼 */
	#dropdownMenu1:hover {
		background-color:#e8e8e8;
	}

/* 나라정렬 조회버튼 */
	#sel {
		display:inline-block;
		border-radius:5px;
		font-size:14px;
		text-align:center;
		height:30px;
		vertical-align:middle;
	}
/* 글쓰기 버튼 div */
	#fff {
		padding:0px 311px;
		display:inline-block;
	}
/* 글쓰기 <a> 너비 */
	#wri {
		width:79px;
	}
	.active th {
		text-align:center;
	}
	.active_con td {
		text-align:center;
	}
	#table>tbody td,
	#table>tbody td>a {
		font-size:15px;
	}
	.active>th:nth-child(1) {
		width:50px;
	}
	.active>th:nth-child(2) {
		width:100px;
	}
	.active>th:nth-child(3) {
		width:180px;
	}
	.active>th:nth-child(4) {
		width:450px;
	}
	.active>th:nth-child(5) {
		width:80px;
	}
	.active>th:nth-child(6) {
		width:180px;
	}
	.active>th:nth-child(7) {
		width:60px;
	}
	.active_con td:nth-child(4) {
		text-align:left;
	}
	#table>tbody td>a {
		text-decoration:none;
	}
	#table>tbody td>a:hover {
		color:black;
	}
	#pageNum {
		padding:20 0;
	}
	#pageNum, #search {
		width:350px;      
		margin:0 auto;
		text-align:center;
	}
	tbody td>a {
		color:black;
		text-decoration:none;
   }
