/* 메뉴바 */
	#hamb {
		position:fixed;
		left:0;
		top:100px;
		width:300px;
		position:fixed;
		background-color:#141414;
		font-family: 'Jua';
	}
	#hamb>li>a {
		color:white;
		font-size:2.5rem;
		text-shadow: 0px -2px rgba(0, 0, 0, 0.44);
		margin:0;
		padding:10px 10px 10px 20px;
	}
	#hamb>li>a:hover {
		color:black;
	}
	#hamb>li>ul>li {
		text-align:center;
		padding:5px 0;
	}
	#hamb>li>ul>li>a {
		color:white;
		text-decoration: none;
		font-size:2rem;
		margin:0;
		padding:7px 80px;
		border-radius: 5px;
	}
	#hamb>li>ul>li>a:hover {
		text-decoration:none;
		background-color:#e8e8e8;
		color:black;
	}
	#hamb a {
		color:black;
	}
	ul {
		list-style:none;
	}
	
/* 로그인 & 회원가입 */
	#side {
		color:black;
		text-decoration: none;
		background-color:rgba(0,0,0,0);
		font-family: 'Jua';
		font-size: 18px;
		border:0;
		outline:0;
		height:30px;
		cursor:pointer;
		padding:0 0 0 30px;
	}
	#side>option { 
		color:black;
		text-decoration: none;
		font-family: 'Jua';
		font-size: 15px;
		border:0;
		outline:0;
		height:30px;
		cursor:pointer;
		text-align:center;
	}
/* 나라정렬버튼 + 검색조회버튼 */
	#dropdownMenu1, #searchType {
		border-radius:5px;
		font-size:14px;
		text-align:center;
		height:33px;
		width:79px;
		cursor: pointer;
		padding:0px 0px 0px 13px;
		display:inline-block;
		font-family:'Jua';
	}
/* 리모컨 */ 
	#remote {
		position:fixed;
		left:1380px;
		top:245px;
		width:100px;
	}
	#kakaoChat, #top {
		height:40px;
	}
/* 페이징 */
	#listCnt {
		width:250px;
		background-color:white;
		border:0;
		color:gray;
	}
/* footer */
	#footerM {
		padding:50px;
	}
	.footerS {
		font-family:"Jua";
		font-size:15px;
		width:500px;
		margin:0 auto;
		vertical-align:middle;
		background-color:gold;
	}