	#tour,#comm,#event,#serv,#system {
		font-family: 'Jua';
		font-size: 18px;
	}
	#tour_sub,#comm_sub,#serv_sub, #system_sub {
		text-align: center;
		font-size: 16px;
	}
	.dropdown-menu>li>ul>li>a {
		color:black;
		font-family: 'Jua';
		text-decoration:none;
		font-family: 'Jua';
		text-align:center;
	}
	.dropdown-menu>li>ul>li:hover {
		display:inline-block;
		font-weight:bold;
		font-size:17px;
		font-family: 'Jua';
		text-align:center;
	}
	#dropdown_sub>li {
		text-align:center;
		font-family: 'Jua';
	}
	#side {
		color:black;
		text-decoration: none;
		background-color:rgba(0,0,0,0);
		font-family: 'Jua';
		font-size: 18px;
	}
	ul {
		list-style:none;
	}
	#footer1 {
		position: absolute;
		padding-top: 30px;
		width: 1350px;
		height: 150px;
	}